* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: sans-serif;
}

#colored-box {
  width: 200px;
  height: 200px;
  margin: auto;
  background-color: rgb(255, 0, 0);
}

#color-changer-btn {
  padding: 1rem;
  margin: 0.5rem;
  background-color: transparent;
  border-top: 4px solid red;
  border-left: 4px solid green;
  border-right: 4px solid blue;
  border-bottom: 4px solid black;
  border-radius: 5rem;
  cursor: pointer;
  font-weight: 900;
  font-size: small;
}
